# PostgreSQL
# password: openssl rand -base64 24
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

DATABASE_URL=postgresql://<user>:<password>@localhost:5432/feedback_board
DATABASE_URL_UNPOOLED=postgresql://<user>:<password>@localhost:5432/feedback_board

# Better Auth
# secret: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

FEEDBACK_BOARD_ENV=
